<div class="feature-section">
    <div class="feature-container">
        <button class="arrow-btn prev-btn" onclick="changeSlide(-1)">❮</button>
        
        <div class="feature-slider">
            <div class="feature-slide active">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="asset/images/narutos.jpg" alt="Attack on Titan">
                    </div>
                    <div class="feature-info">
                        <h3>Naruto: Shippuden</h3>
                        <button class="watch-btn">Watch This</button>
                    </div>
                </div>
            </div>
            
            <div class="feature-slide">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="asset/images/db.jpg" alt="Demon Slayer">
                    </div>
                    <div class="feature-info">
                        <h3>Dragon Ball Super</h3>
                        <button class="watch-btn">Watch This</button>
                    </div>
                </div>
            </div>
            
            <div class="feature-slide">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="asset/images/shoujo.jpg" alt="One Piece">
                    </div>
                    <div class="feature-info">
                        <h3>Shoujo Ramune</h3>
                        <button class="watch-btn">Watch This</button>
                    </div>
                </div>
            </div>
            
            <div class="feature-slide">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="asset/images/tensura.jpg" alt="Naruto">
                    </div>
                    <div class="feature-info">
                        <h3>Tensura Slime</h3>
                        <button class="watch-btn">Watch This</button>
                    </div>
                </div>
            </div>
            
            <div class="feature-slide">
                <div class="feature-content">
                    <div class="feature-image">
                        <img src="asset/images/boku.jpg" alt="Dragon Ball">
                    </div>
                    <div class="feature-info">
                        <h3>Boku no Pico</h3>
                        <button class="watch-btn">Watch This</button>
                    </div>
                </div>
            </div>
        </div>
        
        <button class="arrow-btn next-btn" onclick="changeSlide(1)">❯</button>
    </div>
</div>

<script src="asset/js/feature.js"></script>

