<section class="golden-row-section" id="firstrow-section">
  <h2 class="golden-row-title">Popular Picks</h2>
  <div class="golden-row">
    <div class="image-col">
      <div class="row-title">One Piece</div>
      <img src="asset/images/onepiece.jfif" alt="One Piece" class="row-img">
      <button class="row-watch-btn">Watch</button>
    </div>
    <div class="image-col">
      <div class="row-title">Dragon Ball</div>
      <img src="asset/images/db.jpg" alt="Dragon Ball" class="row-img">
      <button class="row-watch-btn">Watch</button>
    </div>
    <div class="image-col">
      <div class="row-title">Kaiju 8</div>
      <img src="asset/images/kaiju.jpg" alt="Kaiju" class="row-img">
      <button class="row-watch-btn">Watch</button>
    </div>
    <div class="image-col">
      <div class="row-title">Tensura</div>
      <img src="asset/images/tensura.jpg" alt="Tensura" class="row-img">
      <button class="row-watch-btn">Watch</button>
    </div>
    <div class="image-col">
      <div class="row-title">Shoujo</div>
      <img src="asset/images/shoujo.jpg" alt="Shoujo" class="row-img">
      <button class="row-watch-btn">Watch</button>
    </div>
  </div>
</section>
