<section class="image-row-section">
    <h2 class="image-row-title">Upcoming Anime</h2>
    <div class="image-row">
      <div class="image-col">
        <div class="row-title">Mobile Legends: Movie</div>
        <img src="asset/images/ml.jpg" alt="One Piece" class="row-img">
     
      </div>
      <div class="image-col">
        <div class="row-title">Dragon Ball</div>
        <img src="asset/images/db.jpg" alt="Dragon Ball" class="row-img">
   
      </div>
      <div class="image-col">
        <div class="row-title">Kaiju 8</div>
        <img src="asset/images/kaiju.jpg" alt="Kaiju" class="row-img">
  
      </div>
      <div class="image-col">
        <div class="row-title">Roblox: The Movie</div>
        <img src="asset/images/roblox.jpg" alt="Tensura" class="row-img">
   
      </div>
      <div class="image-col">
        <div class="row-title">Honor of Kings: Last</div>
        <img src="asset/images/hok.jpg" alt="Shoujo" class="row-img">
     
      </div>
    </div>
  </section>
  