<section class="image-row-section" id="secondrow-section">
    <h2 class="image-row-title">Newest Anime</h2>
    <div class="image-row">
      <div class="image-col">
        <div class="row-title">Jujutsu Kaisen</div>
        <img src="asset/images/jujutsu.jpg" alt="One Piece" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Dragon Ball</div>
        <img src="asset/images/db.jpg" alt="Dragon Ball" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Kaiju 8</div>
        <img src="asset/images/kaiju.jpg" alt="Kaiju" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Redo of Healer</div>
        <img src="asset/images/redo.jpg" alt="Tensura" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Shoujo</div>
        <img src="asset/images/shoujo.jpg" alt="Shoujo" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
    </div>
  </section>
  