<section class="image-row-section">
    <h2 class="image-row-title">Top Rated Anime</h2>
    <div class="image-row">
      <div class="image-col">
        <div class="row-title">Hunter X Hunter</div>
        <img src="asset/images/hunter.jpg" alt="One Piece" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Dragon Ball</div>
        <img src="asset/images/db.jpg" alt="Dragon Ball" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Hell's Paradise</div>
        <img src="asset/images/hell.jpg" alt="Kaiju" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Tensura</div>
        <img src="asset/images/tensura.jpg" alt="Tensura" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
      <div class="image-col">
        <div class="row-title">Shoujo</div>
        <img src="asset/images/shoujo.jpg" alt="Shoujo" class="row-img">
        <button class="row-watch-btn">Watch</button>
      </div>
    </div>
  </section>
  