<div class="trial-banner">
  <div class="trial-banner-left">
    <img src="asset/images/madaralogo.jpg" alt="Crunchyroll Logo" class="trial-banner-logo">
    <div class="trial-banner-texts">
      <div class="trial-banner-title">AnimeHub: Watch Anime Anytime, Anywhere</div>
      <div class="trial-banner-desc">Get all anime and games ad-free, plus download content! Try it free for 7 days. Cancel anytime</div>
    </div>
  </div>
  <div class="trial-banner-right">
    <button class="trial-banner-btn">START FREE TRIAL</button>
  </div>
</div>
